body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main div.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main button {
  background-color: #1abc9c;
  padding: 8px;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  outline: 0;
}

.number-box {
  background-color: #cccccc;
  padding: 8px;
  font-size: 3rem;
  width: auto;
  height: 50px;
  width: 80px;
  margin: 5px;
  text-align: center;
  transition: 250ms ease-out;
}

.red {
  background-color: #5f27cd;
  color: #ffffff;
}

.blue {
  background-color: #48dbfb;
  color: #ffffff;
}
